{"degree":17,"num_basic_chips":1,"range_strategy":"Simple","num_advice":[12],"num_lookup_advice":[1],"num_fixed":1,"lookup_bits":10,"keccak_num_advice":39,"keccak_num_xor":9,"keccak_num_xorandn":5}
{"degree":18,"num_basic_chips":1,"range_strategy":"Simple","num_advice":[6],"num_lookup_advice":[1],"num_fixed":1,"lookup_bits":10,"keccak_num_advice":20,"keccak_num_xor":5,"keccak_num_xorandn":3}
{"degree":19,"num_basic_chips":1,"range_strategy":"Simple","num_advice":[3],"num_lookup_advice":[1],"num_fixed":1,"lookup_bits":10,"keccak_num_advice":10,"keccak_num_xor":3,"keccak_num_xorandn":2}
{"degree":20,"num_basic_chips":1,"range_strategy":"Simple","num_advice":[2],"num_lookup_advice":[1],"num_fixed":1,"lookup_bits":10,"keccak_num_advice":5,"keccak_num_xor":2,"keccak_num_xorandn":1}
{"degree":21,"num_basic_chips":1,"range_strategy":"Simple","num_advice":[1],"num_lookup_advice":[1],"num_fixed":1,"lookup_bits":10,"keccak_num_advice":3,"keccak_num_xor":1,"keccak_num_xorandn":1}
{"degree":22,"num_basic_chips":1,"range_strategy":"Simple","num_advice":[1],"num_lookup_advice":[1],"num_fixed":1,"lookup_bits":10,"keccak_num_advice":2,"keccak_num_xor":1,"keccak_num_xorandn":1}
{"degree":23,"num_basic_chips":1,"range_strategy":"Simple","num_advice":[1],"num_lookup_advice":[0],"num_fixed":1,"lookup_bits":10,"keccak_num_advice":1,"keccak_num_xor":1,"keccak_num_xorandn":1}