{"degree":17,"num_advice":7,"num_xor":15,"num_xorandn":8,"num_fixed":1,"num_keccak_f":100}
{"degree":18,"num_advice":4,"num_xor":8,"num_xorandn":4,"num_fixed":1,"num_keccak_f":100}
{"degree":19,"num_advice":2,"num_xor":4,"num_xorandn":2,"num_fixed":1,"num_keccak_f":100}
{"degree":20,"num_advice":1,"num_xor":2,"num_xorandn":1,"num_fixed":1,"num_keccak_f":100}
{"degree":21,"num_advice":1,"num_xor":1,"num_xorandn":1,"num_fixed":1,"num_keccak_f":100}