{"degree":17,"num_advice":68,"num_xor":15,"num_xorandn":8,"num_fixed":1,"num_keccak_f":100}
{"degree":18,"num_advice":34,"num_xor":8,"num_xorandn":4,"num_fixed":1,"num_keccak_f":100}
{"degree":19,"num_advice":17,"num_xor":4,"num_xorandn":2,"num_fixed":1,"num_keccak_f":100}
{"degree":20,"num_advice":9,"num_xor":2,"num_xorandn":1,"num_fixed":1,"num_keccak_f":100}
{"degree":21,"num_advice":5,"num_xor":1,"num_xorandn":1,"num_fixed":1,"num_keccak_f":100}
{"degree":22,"num_advice":3,"num_xor":1,"num_xorandn":1,"num_fixed":1,"num_keccak_f":100}
{"degree":23,"num_advice":2,"num_xor":1,"num_xorandn":1,"num_fixed":1,"num_keccak_f":100}